.add-product-form {
    .form-add {
        text-align: center;

        .ant-form-item {
            margin-top: 5px;
            margin-bottom: 15px;
        }

        .btn-submit {
            width: 100%;
        }
    }
}